<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Sentence TEST Processor</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Sentence TEST Processor</h1>-->
<!--    <form method="post" action="/process/">-->
<!--        <label for="sentence">Enter a Sentence:</label>-->
<!--        <input type="text" name="sentence" id="sentence" required>-->
<!--        <input type="submit" value="Process">-->
<!--    </form>-->
<!--    {% if processed_sentence %}-->
<!--    <h2>Processed Sentence:</h2>-->
<!--    <p>{{ processed_sentence }}</p>-->
<!--    {% endif %}-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html>
<head>
    <title>Sentence FASTAPI UVICORN Processor</title>
</head>
<body>
    <h1>Sentence FASTAPI UVICORN Processor</h1>
    <form method="post">
        <label for="sentence">Enter a sentence:</label>
        <input type="text" name="sentence" id="sentence" required>
        <button type="submit">Process</button>
    </form>
    <div>
        <h2>Result:</h2>
        <p>{{ result }}</p>
        <p>{{ message }}</p>
    </div>
</body>
</html>